@import '../../../stylesheets/base';

.taebul {
    overflow: auto;

    .head {
        display: inline-flex;
        border-bottom: $width-separator-medium solid $color-separator;
        min-width: 100%;

        .header {
            flex-shrink: 0;
        }
    }

    .body {
        padding: 0;

        .row {
            display: inline-flex;
            border-bottom: $width-separator-thin solid $color-separator;
            min-width: 100%;

            .cell {
                flex-shrink: 0;
                padding: $spacing-small;
            }
        }
    }
}
