@import '../../../../stylesheets/base';

.options {
    @include background-color($color-foreground);
    padding: $spacing-small 0;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;

    .empty {
        @extend %empty-text;
        padding: $spacing-small-alt $spacing-small;
        text-align: center;
    }
}
