:root {
    --color-text: rgba(0, 0, 0, .8);
    --color-text-placeholder: rgba(0, 0, 0, .4);
    --color-text-disabled: rgba(0, 0, 0, .3);
    --color-text-label: rgba(0, 0, 0, .6);

    --color-primary: #1676d3;
    --color-text-on-primary: rgba(255, 255, 255, .8);

    --color-accent: #008975;
    --color-text-on-accent: rgba(255, 255, 255, .8);

    --color-info: #41a1f0;
    --color-text-on-info: rgba(255, 255, 255, .8);

    --color-success: #41cf76;
    --color-text-on-success: rgba(255, 255, 255, .8);

    --color-warning: #ef8c00;
    --color-text-on-warning: rgba(255, 255, 255, .8);

    --color-danger: #f44336;
    --color-text-on-danger: rgba(255, 255, 255, .8);

    --color-background: #e0e0e0;
    --color-background-alt: #eee;

    --color-foreground: #fff;
    --color-foreground-alt: #f9f9f9;

    --color-background-header: #f0f5f5;
    --color-background-header-alt: #90caf9;

    --color-background-hover: rgba(0, 0, 0, .03);
    --color-background-disabled: rgba(0, 0, 0, .05);
    --color-background-selected: rgba(0, 0, 0, .07);

    --color-background-row: #f5f5f5;
    --color-background-row-alt: #eee;

    --color-navbar: #fff;
    --color-text-on-navbar: rgba(0, 0, 0, .8);
    --color-text-active-tab: #1676d3;

    --color-separator: rgba(0, 0, 0, .1);
    --color-separator-alt: rgba(0, 0, 0, .2);
    --color-separator-hover: rgba(0, 0, 0, .3);

    --color-shadow-light: rgba(0, 0, 0, .3);
    --color-shadow-medium: rgba(0, 0, 0, .5);
    --color-shadow-dark: rgba(0, 0, 0, .8);

    --color-background-scrollbar: #eee;
    --color-foreground-scrollbar: #bbb;

    --color-background-overlay: rgba(255, 255, 255, .77);
    --color-background-overlay-opaque: rgba(255, 255, 255, 1);

    --color-background-modal: rgba(0, 0, 0, .77);
}

$color-text: var(--color-text);
$color-text-placeholder: var(--color-text-placeholder);
$color-text-disabled: var(--color-text-disabled);
$color-text-label: var(--color-text-label);

$color-primary: var(--color-primary);
$color-text-on-primary: var(--color-text-on-primary);

$color-accent: var(--color-accent);
$color-text-on-accent: var(--color-text-on-accent);

$color-info: var(--color-info);
$color-text-on-info: var(--color-text-on-info);

$color-success: var(--color-success);
$color-text-on-success: var(--color-text-on-success);

$color-warning: var(--color-warning);
$color-text-on-warning: var(--color-text-on-warning);

$color-danger: var(--color-danger);
$color-text-on-danger: var(--color-text-on-danger);

$color-background: var(--color-background);
$color-background-alt: var(--color-background-alt);

$color-foreground: var(--color-foreground);
$color-foreground-alt: var(--color-foreground-alt);

$color-background-header: var(--color-background-header);
$color-background-header-alt: var(--color-background-header-alt);

$color-background-hover: var(--color-background-hover);

$color-background-disabled: var(--color-background-disabled);

$color-background-selected: var(--color-background-selected);

$color-background-row: var(--color-background-row);
$color-background-row-alt: var(--color-background-row-alt);

$color-navbar: var(--color-navbar);
$color-text-on-navbar: var(--color-text-on-navbar);
$color-text-active-tab: var(--color-text-active-tab);

$color-negative: $color-danger;
$color-positive: $color-success;

$color-separator: var(--color-separator);
$color-separator-alt: var(--color-separator-alt);

$color-separator-hover: var(--color-separator-hover);

$color-shadow-medium: var(--color-shadow-medium);
$color-shadow-light: var(--color-shadow-light);
$color-shadow-dark: var(--color-shadow-dark);

$color-background-button-default: $color-foreground;

$color-background-scrollbar: var(--color-background-scrollbar);
$color-foreground-scrollbar: var(--color-foreground-scrollbar);

$color-background-overlay: var(--color-background-overlay);
$color-background-overlay-opaque: var(--color-background-overlay-opaque);

$color-background-modal: var(--color-background-modal);

// Visualizations
$color-grid-path: #e8e8e8 !default;
$color-axis-path: #d3d3d3 !default;
$color-links: #f0f0f0 !default;
$color-background-overlay: rgba(0, 0, 0, .7) !default;
